/content/en/docs/latest/
/content/static/latest/
/content/static/**/*.dtmp
/content/static/**/*.bkp
/content/static/**/*.crswap
/content/static/lunr-index.json
!/docs/CNAME
/docs/
/public/
/resources/
node_modules/
tech-doc-hugo
old-tutorials.md