//
// Style Markdown content
//

.td-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 8px;
    row-gap: 8px;
    order: 1;

    .reading-time {
        margin: 5px 0px;
    }

    p,
    li,
    td {
        font-weight: $font-weight-body-text;
    }

    td {
        p {
            margin-bottom: 0;
        }
    }

    p {
        z-index: 10;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    >h1 {
        font-weight: $font-weight-bold;
    }

    >h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
    }

    >h2:not(:first-of-type) {
        margin-top: 24px;
    }

    >h2+h3 {
        margin-top: 10px;
    }

    >h3 {
        margin-top: 24px;
        margin-bottom: 8px;
    }

    h3+h4 {
        margin-top: 10px;
    }

    >h4  {
        margin-top: 14px;
        margin-bottom: 4px;
    }

    h4+h5, h5+h6 {
        margin-top: 5px;
    }

    >h5, >h6 {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    img {
        margin: 5px;
        @extend .img-fluid;
    }

    .work-in-progress {
        display: block;
        margin: 0 auto;
        width: 400px;
        max-width: 90%;
    }

    >table {
        @extend .table-striped;

        @extend .table-responsive;

        @extend .table;
    }

    >blockquote {
        padding: 0 0 0 1rem;
        margin-bottom: $spacer;
        color: $gray-600;
        border-left: 6px solid $secondary;
    }

    >ul {
        z-index: 10;
        margin-bottom: 0px;
    }

    >ul li,
    >ol li {
        margin-bottom: .25rem;

        >table {
            @extend .table-striped;

            @extend .table-responsive;

            @extend .table;
        }
    }

    strong {
        font-weight: $font-weight-bold;
    }

    >pre,
    >.highlight,
    >.lead,
    >h1,
    >h2,
    >ul,
    >ol,
    >p,
    >blockquote,
    >dl dd,
    .footnotes,
    >.alert {
        @extend .td-max-width-on-larger-screens;
    }

    .alert:not(:first-child) {
        margin-top: 1 * $spacer;
        margin-bottom: 1 * $spacer;
    }

    .lead, .td-byline {
        width: 100%;
        max-width: 100%;
        margin: 5px 0px !important;
    }

    span {
        &.threshold-ok {
            background-color: #73BF69;
            color: black;
            padding: 0.18rem 0.45rem 0.18rem 0.45rem
        }

        &.threshold-warning {
            background-color: #FF9830;
            color: black;
            padding: 0.18rem 0.45rem 0.18rem 0.45rem
        }

        &.threshold-critical {
            background-color: #F2495C;
            color: black;
            padding: 0.18rem 0.45rem 0.18rem 0.45rem
        }
    }

    >.footnotes {
        font-style: italic;
    }

    >.youtube-video {
        max-width: 640px;
        width: 100%;
        animation: fadeIn 2s;

        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: 5px;
        }
    }

    >.scribe-video {
        max-width: 640px;
        width: 100%;
        animation: fadeIn 2s;

        iframe {
            height: 700px;
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: 5px;
        }
    }

    br {
        content: " ";
        display: block;
        margin-bottom: 5px;
    }
}

.td-title {
    margin-top: 1rem;
    margin-bottom: .5rem;

    @include media-breakpoint-up(sm) {
        font-size: 3rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}