//
// Main navbar
//
.td-navbar {
    background: $white;
    min-height: 4rem;
    margin: 0;
    z-index: 32;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.22);

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .td-navbar-nav-scroll {
        margin-left: unset !important;
        margin-top: unset !important; // temp

        .navbar-nav {
            margin-left: auto;
            margin-top: unset !important; // temp

            .nav-item {
                margin: 0px !important;
        
                :hover {
                    background-color: $ctx-blue;
                    color: white;
                }
        
                .nav-link {
                    text-transform: none;
                    font-weight: $font-weight-light;
                    color: $ctx-black !important;
                }
            }
        }

        .nav-link {
            padding: 0.5rem !important;
        }
    }

    .navbar-nav {
        margin-left: auto;
    }

    .navbar-brand {
        text-transform: none;
        text-align: middle;

        .nav-link {
            display: inline-block;
            margin-right: -10px;
        }

        svg {
            display: inline-block;
            margin: 0 10px;
            height: 60px;
        }
    }

    .dropdown {
        min-width: 100px;
    }

    @include media-breakpoint-down(md) {
        padding-right: 1.5rem;
        padding-left: .75rem;

        .td-navbar-nav-scroll {
            max-width: 100%;
            height: 2.5rem;
            margin-top: .25rem;
            overflow: hidden;
            font-size: .875rem;

            .nav-link {
                padding-right: .25rem;
                padding-left: 0;;
            }

            .navbar-nav {
                padding-bottom: 2rem;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}
