/*

Add styles or override variables from the theme here.

*/
$cortex-green: #a0c326 !default;
$cortex-blue: #398FCD !default;

.td-content {
    h1 {
        font-weight: bold;
        font-size: 22pt;
        margin-bottom: 1rem;
      }
    p.namespace {
        font-size: 10pt;
        margin-top: -14px;
      }
    img:first-of-type {
      float: left;
      display: inline;
      margin-right: 10px;
      vertical-align: bottom;
    }
}
.td-main{
  padding-top: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.9rem !important;
  font-weight: 400;
  line-height: 1.5 !important;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

footer {
  min-height: 165px !important;
  font-size: 0.8rem !important;
  div.copyright-container {
    border-top: solid 1px #676767;
    color: #676767;
  }
  a:hover {
    color: $cortex-green !important;
}
}
  