@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

@if $td-enable-google-fonts {
    @import url($web-font-path);
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {

    h1[id]:target,
    h2[id]:target,
    h3[id]:target,
    h4[id]:target,
    h5[id]:target {
        content: " ";
        margin-top: -90px;
        padding-top: 90px;
        z-index: 5;
    }
}


.td-cover-block {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import "rtl/main";
@import "styles_project";