{{ $icon := .Get "icon" | default "fa-lightbulb" }}
{{ $url_text := .Get "url_text" }}
<div class="row cards" >
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 w-100">
    <a href="/docs/whats-new/">
      <div class="card-container">
        <div class="card-icon"><i class="fas fa-star"></i></div>
        <p class="title">What's New?</p>
        <p class="description">Discover what’s new in the Cortex platform.</p>
      </div>
  </a>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 w-100">
    <a href="/docs/overview/">
      <div class="card-container">
        <div class="card-icon"><i class="fas fa-list-ol"></i></div>
        <p class="title">Overview</p>
        <p class="description">Find out what the Cortex platform is, what it can do, and how you can get started?</p>
      </div>
    </a>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 w-100">
    <a href="/docs/getting-started/">
      <div class="card-container">
        <div class="card-icon"><i class="fas fa-rocket"></i></div>
        <p class="title">Getting Started</p>
        <p class="description">Get up and running with the Cortex platform in minutes.</p>
      </div>
    </a>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 w-100">
    <a href="/docs/guides/">
      <div class="card-container">
        <div class="card-icon"><i class="fas fa-map-signs"></i></div>
        <p class="title">Guides</p>
        <p class="description">This section includes all guides for the Cortex platform.</p>
      </div>
    </a>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 w-100">
    <a href="/docs/tutorials/">
      <div class="card-container">
        <div class="card-icon"><i class="fas fa-graduation-cap"></i></div>
        <p class="title">Tutorials</p>
        <p class="description">This section includes all tutorials for the Cortex platform.</p>
      </div>
    </a>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 w-100">
    <a href="/docs/reference/">
      <div class="card-container">
        <div class="card-icon"><i class="fas fa-book"></i></div>
        <p class="title">Reference</p>
        <p class="description">This section includes all reference documentation for the Cortex platform.</p>
      </div>
    </a>
  </div>
</div>