{{ $links := .Site.Params.links }}
{{ $companyInfo := .Site.Params.company.info }}
<footer class="bg-dark row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-12 col-sm-12 text-center py-3">
        {{ with $links }}
        {{ with index . "social"}}
        {{ template "footer-links-social"  . }}
        {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 text-xs-center order-sm-1">
        {{ with $links }}
        {{ with index . "legal"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-6 col-sm-6 text-right text-xs-center order-sm-2"> 
        <ul class="list-unstyled">
          {{ with $companyInfo }}
            {{ template "footer-company-info" (printf "%s %s" (index . "building") (index . "road")) }}
            {{ template "footer-company-info" (printf "%s, %s" (index . "city") (index . "postcode")) }}
            {{ template "footer-company-info" (index . "phone") }}
            {{ template "footer-company-info" (index . "email") }}
            {{ template "footer-company-info" (printf "%s, %s" (index . "city") (index . "postcode")) }}
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 text-center order-sm-1 copyright-container">
        {{ with .Site.Params.copyright }}Copyright &copy; {{ now.Year}} {{ .}}. {{ T "footer_all_rights_reserved" }}{{ end }}
	{{ if not .Site.Params.ui.footer_about_disable }}
		{{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
	{{ end }}
      </div>
    </div>
  </div>
</footer>

{{ define "footer-links-block" }}
<ul class="list-unstyled">
  {{ range . }}
  <li data-toggle="tooltip" data-placement="top" aria-label="{{ .name }}">
    <a class="text-white" target="_blank" rel="noopener noreferrer" href="{{ .url }}">
      {{ .name }}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ define "footer-company-info" }}
  <li class="text-white" data-toggle="tooltip" data-placement="top" aria-label="{{ . }}">
      {{ . }}
  </li>
{{ end }}

{{ define "footer-links-social" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" target="_blank" rel="noopener noreferrer" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}