{{- /*  
	The version selector dropdown.
	It is only used when in /docs/ 
*/}}
{{- $isRoot := false }}
{{- /* Get the current version, and whether the website is currently nested (has /docs prepended). */}}
{{- $isNested := false }}
{{- $currentVer := index (findRE `^\/docs\/[0-9\.]*\/` .Page.RelPermalink 1) 0 }}
{{- if (not $currentVer) }}
	{{- $currentVer = index (findRE `^\/docs\/docs\/[0-9\.]*\/` .Page.RelPermalink 1) 0 }}
	{{- $currentVer = replaceRE `^\/docs` "" $currentVer 1 }}
	{{- if (or $currentVer (index (findRE `^\/docs\/[^\/]*\/` .Page.RelPermalink 1) 0))}}
		{{- $isNested = true }}
	{{- end }}
{{- end }}
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-proofer-ignore>
	{{- range where .Site.Params.versions "url" $currentVer -}}
        {{ $versionName := .version }}
        {{- if .latest }}
        	{{- $versionName = printf "%s (%s)" .version "Latest" }}
        {{- end }}
		{{- $versionName }}
    {{- else -}}
		{{- $isRoot = true }}
		Versions
	{{- end -}}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	{{- $path := "" }}
	{{- if (and (.Site.Params.version_menu_pagelinks) (not $isRoot)) }}
		{{- if $currentVer }}
			{{- $path = .Page.RelPermalink }}
			{{- $path = replaceRE `^(?:\/docs)?\/docs\/([0-9\.]*\/)?` "" $path 1 }}
		{{- end }}
	{{- end }}
	{{- range .Site.Params.versions }}
        {{- $versionName := .version }}
        {{- if .latest }}
            {{- $versionName = printf "%s (%s)" .version "Latest" }}
        {{- end }}
		{{- $dropdownLink := "" }}
		{{- /*  If it is a generic external url. */}}
		{{- if hasPrefix .url "http" }}
			{{- $dropdownLink = .url }}
		{{- else }}
			{{- $dropdownLink = printf "%s%s" .url $path }}
			{{- if $isNested }}
				{{- $dropdownLink = printf "%s%s" "/docs" $dropdownLink }}
			{{- end }}
        {{- end }}
		<a class="dropdown-item" href="{{ $dropdownLink }}" data-proofer-ignore>{{ $versionName }}</a>
	{{- end }}
</div>