---
title: About
linkTitle: About
menu:
main:
weight: 10

---


{{< blocks/cover title="About" image_anchor="bottom" height="100px" >}}


{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-map-marker-alt" %}}
Cortex Limited

Kings Park House,

22 Kings Park Road,

Southampton,

SO15 2AT
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-address-card" %}}

T +44 23 8254 8990

E info@cortex-ia.com

www.cortex-ia.com
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code-branch" %}}
Status: RELEASE

Release Date: 24/04/2020

Document Version: 1.0.0

Software Version: 7.1-RC.2020.2.2
{{% /blocks/feature %}}
{{< /blocks/section >}}
