{{- /* Creates a hyperlink element with the provided link. This is currently not versioned. */}}
{{ $url := urls.Parse (index .Site.Data.urls (split (.Get 0) ".")) }}{{ $link := (printf "%s://%s%s" $url.Scheme $url.Host $url.Path) }}{{ if hasPrefix $url "https://docs.microsoft.com/en-us/dotnet/api/" }}{{ $link = (printf "%s?view=%s" $link .Site.Params.dotNetVersion)}}{{ if ne $url.Fragment ""}}
{{ $link = (printf "%s#%s" $link $url.Fragment)}}
{{ end }}
<a href="{{ $link }}">{{ .Get 1 }}</a>
{{ else }}<a href="{{ $url }}">{{ .Get 1 }}</a>{{ end }}