{{/*  
    This shortcode provides a single point to version in docs.
    This only works in files under /docs/.
*/}}
{{- $currentVer := index (findRE `^\/docs\/(docs\/)?[^\/]*\/` .Page.RelPermalink 1) 0 }}
{{- $currentVer = replace $currentVer "/docs/docs/" "/docs/" }}
{{- if (not $currentVer) }}
    {{/*  use latest doc as not in a versioned page  */}}
    {{ range where .Site.Params.versions "latest" true }}
        {{- $currentVer = .url }}
    {{ end }}
{{- end }}
{{- $filePath := printf "%s%s" $currentVer "_shared/currentVersion.md" -}}
{{- $page := .Site.GetPage $filePath -}}
{{- with $page -}}
    {{- with .Plain -}}
        {{-  (trim . "\n") -}}
    {{- else -}}
        {{ errorf "Version file at path %q is empty" $filePath }}
    {{- end -}}
{{- else -}}
    {{ errorf "Version file at path %q is missing" $filePath }}
{{- end -}}