{{- $versionPath := "" }}
{{- $currentVer := index (findRE `^(?:docs)?(\/docs\/[0-9\.]*\/)` .Page.RelPermalink 1) 0 }}
{{- $currentVer = replaceRE `^docs(\/docs\/[0-9\.]*\/)` "$1" $currentVer }}
{{- if $currentVer }}
    {{ range where .Site.Params.versions "url" $currentVer }}
        {{ $versionPath = .version }}
    {{ end }}
{{- else }}
    {{- /*  use latest doc as not in a versioned page  */}}
    {{ range where .Site.Params.versions "latest" true }}
        {{- $versionPath = .version }}
    {{ end }}
{{- end }}
<img src="/{{ $versionPath }}/images/work-in-progress.jpg" class="work-in-progress" />