{{- $pc := .Page.Site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
{{- $ytHost := cond $pc.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" -}}
{{- $id := .Get "id" | default (.Get 0) -}}
  {{- $title := .Get "title" | default "YouTube Video" }}
  <div class="youtube-video">
    <!-- For more player customisation, see https://developers.google.com/youtube/player_parameters -->
    <iframe src="https://{{ $ytHost }}/embed/{{ $id }}?rel=0{{ with .Get "start" }}{{ if . }}&start={{ . }}{{ end }}{{ end }}{{ with .Get "end" }}{{ if . }}&end={{ . }}{{ end }}{{ end }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="background: url(/images/loading.gif) no-repeat center; " allowfullscreen sandbox="allow-scripts allow-same-origin"></iframe>
  </div>
{{ end -}}